.main{

   
    height: 100vh;
    width: 100vw;
    background-image: url('../../assets/img/background.jpeg');
    background-position-y: -320px;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width:768px){
    background-position-y: 60px ;
    }

    &__header{
    
       
         padding: 10px;

         @media(max-width:768px){
            background-color: rgba(79,71,78,1);
            color:#FFFFFF;
         }

        img{
            width: 90px;
            padding-left: 30px;
            margin-right: 50px;
            

        }

        &:hover{
            background-color: rgba(79,71,78,1);
            color:#FFFFFF;
        }
    }

 

    &__body{
        text-align: center;
        padding-top: 120px;
        max-width: 555px;
        margin: auto;



        &--label{
           
            font-weight: 300;
            font-size: 16pt;
            color: rgba(0,0,0,1);
        }

        &--title{
            color: rgba(0,0,0,1);
            font-size: 63pt;
            font-weight: 700;

            @media(max-width: 768px)
            {
                font-size: 35pt;
            }
        }
    }

    &__cta{
        background-color: rgba(255,213,79,1);
        width: 100%;
        position: fixed;
        bottom:0;
        padding:20px;
        text-align: center;
    }

    &__button{
        width:80%;
        margin:auto;
        border-radius: 5px;
        background-color: #FFFFFF;
        border: 1px solid #FFFFFF;
        padding:5px;
    }
}